@use 'base/variables' as v;
@use 'base/mixins' as m;

.beneficios {
    background: linear-gradient(135deg, rgba(37,99,235,0.08), rgba(11,18,32,0.08));

    .grid-beneficios {
        @include m.tablet { 
            @include m.grid(5, 4rem);
            align-items: center;
        }
    }
    .contenido-beneficios {
        grid-column: 1 / 4;

        h2 {
            @include m.headingBorder( v.$blanco, v.$acento );
        }
    }
    .imagen {
        grid-column: 4 / 6;
        transition-property: transform;
        transition-duration: .3s;

        &:hover {
            transform: rotate(2deg) scale(1.03);
        }
    }
}